<config>
  <!-- Slot Control -->
  <power v='full'/>

  <!-- User Information -->
  <passkey v='d6d848413c4fc4e4d6d848413c4fc4e4'/>
  <team v='234980'/>
  <user v='pupjxgv99i6s'/>

  <!-- Folding Slots -->
  
   <slot id='1' type='GPU'>
    <pci-bus v='0'/>
    <pci-slot v='5'/>
  </slot>
</config>
