<config>
  <!-- Slot Control -->
  <power v='full'/>

  <!-- User Information -->
  <passkey v='ec1d4c2d508f6d88ec1d4c2d508f6d88'/>
  <team v='234980'/>
  <user v='uc8kv3qn1s6x'/>

  <!-- Folding Slots -->
  
   <slot id='1' type='GPU'>
    <pci-bus v='0'/>
    <pci-slot v='5'/>
  </slot>
</config>
