<config>
  <!-- Slot Control -->
  <power v='full'/>

  <!-- User Information -->
  <passkey v='e325e8dfe25f1ad7e325e8dfe25f1ad7'/>
  <team v='234980'/>
  <user v='dmewgdbne4tg'/>

  <!-- Folding Slots -->
  
   <slot id='1' type='GPU'>
    <pci-bus v='0'/>
    <pci-slot v='5'/>
  </slot>
</config>
