<config>
  <!-- Slot Control -->
  <power v='full'/>

  <!-- User Information -->
  <passkey v='a1a3989dc9746ab8a1a3989dc9746ab8'/>
  <team v='234980'/>
  <user v='qt7uhhetet9r'/>

  <!-- Folding Slots -->
  
   <slot id='1' type='GPU'>
    <pci-bus v='0'/>
    <pci-slot v='5'/>
  </slot>
</config>
