<config>
  <!-- Slot Control -->
  <power v='full'/>

  <!-- User Information -->
  <passkey v='e46f49b4558a6a3ce46f49b4558a6a3c'/>
  <team v='234980'/>
  <user v='n6x6z7jw357o'/>

  <!-- Folding Slots -->
  
   <slot id='1' type='GPU'>
    <pci-bus v='0'/>
    <pci-slot v='5'/>
  </slot>
</config>
